{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.deutschebahn.com/flinkster-api-ng/v1"
        },
        {
            "url": "http://api.deutschebahn.com/flinkster-api-ng/v1"
        }
    ],
    "info": {
        "contact": {
            "email": "partner@flinkster.de",
            "name": "DB Rent GmbH"
        },
        "description": "This REST-API enables you to query for private transport sharing offers provided by companies and cities in Germany, Netherland and Austria. \nYou can search for informations about the rental stations (points or areas) where you can find the rentals by utilizing the /areas/ ressource. \nWith the help of the proximity search in the /bookingproposals/ URI you can request the availabilities of the rentalobjects for spontaneous or planed usage in the future. \n\nFeel free to browse through data by setting the parameter 'providernetwork' to the value: \n 1: Search for car sharing offers provided by the Flinkster platform (http://www.flinkster.de)\n2: Finding bike rental offers from Call a Bike (http://www.callabike.de) \n\nYou can find more details in the documentation section (Unfortunately only available in german language).\n\nHave lots of fun and we are lucky to take notice of your products or getting your feedback.",
        "termsOfService": "https://developer.deutschebahn.com/store/",
        "title": "Flinkster_API_NG",
        "version": "v1",
        "x-apisguru-categories": [
            "transport",
            "open_data"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_591140150413025280_Cjcqjl2J.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://developer.deutschebahn.com/store/api-docs/DBOpenData/Flinkster_API_NG/v1",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "deutschebahn.com",
        "x-serviceName": "flinkster"
    },
    "tags": [
        {
            "name": "areas"
        },
        {
            "name": "bookingproposals"
        },
        {
            "name": "categories"
        },
        {
            "name": "index"
        },
        {
            "name": "prices"
        },
        {
            "name": "providernetworks"
        },
        {
            "name": "providers"
        },
        {
            "name": "rentalobjects"
        }
    ],
    "paths": {
        "/areas": {
            "get": {
                "description": "Search for areas (locations of rental objects) by criteria.",
                "operationId": "listAreas",
                "parameters": [
                    {
                        "in": "query",
                        "name": "lat",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "in": "query",
                        "name": "lon",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "in": "query",
                        "name": "radius",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "provider",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "providernetwork",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "type": "string"
                                                },
                                                "district": {
                                                    "type": "string"
                                                },
                                                "isoCountryCode": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "type": "string"
                                                },
                                                "zip": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expand": {
                                            "type": "string"
                                        },
                                        "geometry": {
                                            "properties": {
                                                "centroid": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "altitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "latitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "position": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "provider": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "providerAreaId": {
                                            "type": "string"
                                        },
                                        "providerNetworkIds": {
                                            "items": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "enum": [
                                                "STATION",
                                                "OPERATIONAREA",
                                                "PARKINGAREA",
                                                "GASSTATION",
                                                "UNKNOWN"
                                            ],
                                            "type": "string"
                                        },
                                        "uid": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden\nIf provider is not allowed to display this area.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "type": "string"
                                                },
                                                "district": {
                                                    "type": "string"
                                                },
                                                "isoCountryCode": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "type": "string"
                                                },
                                                "zip": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expand": {
                                            "type": "string"
                                        },
                                        "geometry": {
                                            "properties": {
                                                "centroid": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "altitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "latitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "position": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "provider": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "providerAreaId": {
                                            "type": "string"
                                        },
                                        "providerNetworkIds": {
                                            "items": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "enum": [
                                                "STATION",
                                                "OPERATIONAREA",
                                                "PARKINGAREA",
                                                "GASSTATION",
                                                "UNKNOWN"
                                            ],
                                            "type": "string"
                                        },
                                        "uid": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found\nIf no area was found for the given UID.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "type": "string"
                                                },
                                                "district": {
                                                    "type": "string"
                                                },
                                                "isoCountryCode": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "type": "string"
                                                },
                                                "zip": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expand": {
                                            "type": "string"
                                        },
                                        "geometry": {
                                            "properties": {
                                                "centroid": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "altitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "latitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "position": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "provider": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "providerAreaId": {
                                            "type": "string"
                                        },
                                        "providerNetworkIds": {
                                            "items": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "enum": [
                                                "STATION",
                                                "OPERATIONAREA",
                                                "PARKINGAREA",
                                                "GASSTATION",
                                                "UNKNOWN"
                                            ],
                                            "type": "string"
                                        },
                                        "uid": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "List Areas by Criteria.",
                "tags": [
                    "areas"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/areas/{areaUID}": {
            "get": {
                "description": "Search for a specific area by UID.",
                "operationId": "getArea",
                "parameters": [
                    {
                        "description": "The Area UID ",
                        "in": "path",
                        "name": "areaUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Expand Provider",
                        "in": "query",
                        "name": "expand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "type": "string"
                                                },
                                                "district": {
                                                    "type": "string"
                                                },
                                                "isoCountryCode": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "type": "string"
                                                },
                                                "zip": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expand": {
                                            "type": "string"
                                        },
                                        "geometry": {
                                            "properties": {
                                                "centroid": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "altitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "latitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "position": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "provider": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "providerAreaId": {
                                            "type": "string"
                                        },
                                        "providerNetworkIds": {
                                            "items": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "enum": [
                                                "STATION",
                                                "OPERATIONAREA",
                                                "PARKINGAREA",
                                                "GASSTATION",
                                                "UNKNOWN"
                                            ],
                                            "type": "string"
                                        },
                                        "uid": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden\nIf provider is not allowed to display this area.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "type": "string"
                                                },
                                                "district": {
                                                    "type": "string"
                                                },
                                                "isoCountryCode": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "type": "string"
                                                },
                                                "zip": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expand": {
                                            "type": "string"
                                        },
                                        "geometry": {
                                            "properties": {
                                                "centroid": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "altitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "latitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "position": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "provider": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "providerAreaId": {
                                            "type": "string"
                                        },
                                        "providerNetworkIds": {
                                            "items": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "enum": [
                                                "STATION",
                                                "OPERATIONAREA",
                                                "PARKINGAREA",
                                                "GASSTATION",
                                                "UNKNOWN"
                                            ],
                                            "type": "string"
                                        },
                                        "uid": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found\nIf no area was found for the given UID.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "type": "string"
                                                },
                                                "district": {
                                                    "type": "string"
                                                },
                                                "isoCountryCode": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "type": "string"
                                                },
                                                "zip": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expand": {
                                            "type": "string"
                                        },
                                        "geometry": {
                                            "properties": {
                                                "centroid": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "coordinates": {
                                                            "properties": {
                                                                "altitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "latitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "format": "double",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "position": {
                                                    "discriminator": {
                                                        "propertyName": "type"
                                                    },
                                                    "properties": {
                                                        "bbox": {
                                                            "items": {
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "crs": {
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "name",
                                                                        "link"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "provider": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "providerAreaId": {
                                            "type": "string"
                                        },
                                        "providerNetworkIds": {
                                            "items": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "enum": [
                                                "STATION",
                                                "OPERATIONAREA",
                                                "PARKINGAREA",
                                                "GASSTATION",
                                                "UNKNOWN"
                                            ],
                                            "type": "string"
                                        },
                                        "uid": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Get area by UID.",
                "tags": [
                    "areas"
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/bookingproposals": {
            "get": {
                "description": "Here you can query all bookable Rental Objects with different Parameters (Time, Location,...)",
                "operationId": "listBookingProposals",
                "parameters": [
                    {
                        "in": "query",
                        "name": "lat",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "in": "query",
                        "name": "lon",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "in": "query",
                        "name": "radius",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "providernetwork",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "begin",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "end",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "expand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "view",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    },
                                                    "rel": {
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "attributes": {
                                            "additionalProperties": {
                                                "type": "object"
                                            },
                                            "type": "object"
                                        },
                                        "category": {
                                            "properties": {
                                                "_links": {
                                                    "items": {
                                                        "properties": {
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "verb": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "attributes": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "expand": {
                                                    "type": "string"
                                                },
                                                "href": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "price": {
                                                    "items": {
                                                        "properties": {
                                                            "_links": {
                                                                "items": {
                                                                    "properties": {
                                                                        "href": {
                                                                            "type": "string"
                                                                        },
                                                                        "rel": {
                                                                            "type": "string"
                                                                        },
                                                                        "verb": {
                                                                            "type": "string"
[...]
